on:
  workflow_dispatch:
  # schedule:
  #   - cron: 0 */12 * * *
  repository_dispatch:
    types: [update_map]

permissions:
  contents: write

env:
  TTY_COMPATIBLE: 1

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0 
        with:
          python-version: '3.14.1' 
      - run: pip install -Ur requirements.txt
      - run: python scripts/build.py
      - run: echo "message=update @ $(date +%Y%m%dT%H:%M:%S%Z)" >> "$GITHUB_ENV"
      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          default_author: github_actions
          message: ${{ env.message }}
