on:
  workflow_dispatch:
  # schedule:
  #   - cron: 0 */12 * * *
  repository_dispatch:
    types: [update_map]

permissions:
  contents: write

env:
  TTY_COMPATIBLE: 1

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6 
        with:
          python-version: '3.13.9' 
      - run: pip install -Ur requirements.txt
      - run: python scripts/build.py
      - run: echo "message=update @ $(date +%Y%m%dT%H:%M:%S%Z)" >> "$GITHUB_ENV"
      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
        with:
          default_author: github_actions
          message: ${{ env.message }}
